.App {
  display: flex;
  transition: background-color 0.3s ease;
  flex-direction: column;
}

.heading {
  position: fixed;
  text-align: center;
  background-color: #F0F0F0;
  justify-content: center;
  width: 100vw;
  height: 55px;
}

.App.light {
  background-color: #f0f0f0;
  color: #000;
}

.App.dark {
  background-color: #333;
  color: #fff;
}

.chart-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  margin-top: 60px;
  margin-left: 70px;
  margin-right: 70px;
  box-sizing: border-box;
}

.chart {
  width: 100%;
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
}

.App.dark .chart {
  background-color: #444;
  border-color: #555;
}


@media (max-width: 768px) {
  .chart-container {
    grid-template-columns: 1fr;
    margin-left: 0px;
    margin-right: 0px;
  }

  .heading{
    margin-top: 45px;
  }

  .chart-container{
    margin-top: 90px;
  }
}